html,
body { height: 100%; }
body {
    background-color: #f6f7fb;
    margin: 0;
    font-family: 'Questrial', sans-serif;
}
h2.title-h2{
    font-size: 24px;
    color: #333;
    line-height: 2.4;
}
.orange-btn{
    background-color: #ffa822;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 3px 5px 8px 0px rgba(246, 247, 251, 0.5);
}
.selector {
    position: absolute;
    top: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 150px;
    left: 20px;
    right: 0px;
}
section.home-elements .scat-block{
    text-align: center; 
    background-color: #fff;
    min-height: 180px;
    padding: 20px 30px;
    box-shadow: 3px 5px 8px 0px rgba(76, 161, 182, 0.05);
    margin: 25px 0;
}
section.home-elements .scat-block h3{
    font-size: 16px;
    color: #3494ac;
    line-height: 1.5;
    min-height: 50px;
}
section.home-elements .scat-block img{
    height: 70px;
    padding: 5px;
    margin: 20px 0;
}
section.home-elements a.scat-block-link:hover{
    text-decoration: none;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
section.home-elements a.scat-block-link:hover .scat-block{
    background-color: #ffa822;
     -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
section.home-elements a.scat-block-link:hover h3{
    color: #fff;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
section.testimonials{
    padding: 30px;
    background-color: #3494ac;
    color: #fff;
    margin-bottom: 35px;
}
section.testimonials h2.title-h2{
    color: #fff;
}
.col-center {
    margin: 0 auto;
    float: none !important;
}
.carousel {
    margin: 30px auto;
    padding: 0 70px;
}
.carousel .item {
    color: #fff;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}
.carousel .testimonial {
    padding: 30px 50px 20px;
}
.carousel .overview {   
    font-style: italic;
}
.carousel .overview b {
    text-transform: uppercase;
    color: #fff;
}
.carousel .carousel-control {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}
.carousel-control i {
    font-size: 40px;
    line-height: 20px;
    position: absolute;
    display: inline-block;
    color: #eee;
}
.carousel .carousel-indicators {
    bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 1px 3px;
    border-radius: 50%;
}
.carousel-indicators li {   
    background: #ddd;
    border-color: transparent;}
.carousel-indicators li.active {    
    background: #fff;       
}
/* Team Members */
section.team h2.title-h2{
    line-height: 3;
}
.team-members {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 35px;
}

.team-members .team-avatar {
    position: relative;
    padding: 25px;
    text-align: center;
}


.team-members .team-avatar img {
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 60%;
    padding: 15%;
}
.team-members .team-avatar a:hover{
    text-decoration: none;
}
.team-members .team-avatar h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #3494ac;
}

.team-members .team-avatar span {
    font-size: 22px;
    text-transform: uppercase;
    color: #3494ac;
}

.team-members:hover .team-avatar:after {
    background: rgba(52, 148, 172, 0.39);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}


.homeback{
    background-image: url(../images/shutterstock.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 1000px;
    display: none;
}

.selector,
.selector button {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.selector button {
    position: relative;
    width: 90%;
    height: 90%;
    padding: 10px;
    background: #428bca;
    border-radius: 50%;
    border: 0;
    color: white;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all .1s;
}
.ctext{
    width: 250px;
    height: 45px;
    color: #639ad1;
    font-size: 16px;
    text-align: center;
    margin-left: -90px;
}
.ctx2{
    margin-left: -150px;
    text-align: center;
}
.ctx3{
    text-align: center;
    margin-left: 0px;
}
.ctx4{
    margin-left: -100px;
}
.selector li a:hover{
    text-decoration: none;
}
.selector button:hover { background: #3071a9; }
.selector button:focus { outline: none; }
.selector ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: -100px;
    right: 50px;
    bottom: 0px;
    left: -50px;
}
.selector li {
    position: absolute;
    width: 0;
    height: 100%;
    margin: 0 50%;
    -webkit-transform: rotate(-360deg);
    transition: all 3s ease-in-out;
}
.selector li input { display: none; }

.selector li input + label {
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 0;
    height: 0;
    line-height: 1px;
    margin:auto;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 1px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: none;
    transition: all 3s ease-in-out, color 0.1s, background 0.1s;
}
.selector li input + label:hover { background: #f0f0f0; }
.selector li input:checked + label {
    background: #5cb85c;
    color: white;
}
.selector li input:checked + label:hover { background: #449d44; }
.selector.open li input + label {
    width: 120px;
    height: 120px;
    line-height: 80px;
    margin-left: 0px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    overflow: visible;
}
.selector li input + label img{
    width: 80px;
    border-radius: 100px;
    height: 80px;
}
.ct-label{
    font-size: 18px !important;
    fill: #FFF !important;
}
.imgchain1 ,.imgchain2 ,.imgchain3 ,.imgchain4 ,.imgchain5 ,.imgchain6 ,.imgchain7 ,.imgchain8{
    display: none;
}

.imgchain1{
    width: 100px;
    margin-left: -10px;
}
.imgchain2{
    width: 100px;
    margin-top: -40px;
    margin-left: 10px;
}
.imgchain3{
    width: 100px;
    margin-top: -90px;
    margin-left: -20px;
}
.imgchain4{
    width: 100px;
    margin-top: -85px;
    margin-left: -70px;
}
.imgchain5{
    width: 100px;
    margin-top: -75px;
    margin-left: -100px;
}
.imgchain6{
    width: 100px;
    margin-left: -100px;
    margin-top: -20px;
}
.imgchain7{
    width: 100px;
    margin-top: 20px;
    margin-left: -90px;
}
.imgchain8{
    opacity: 0;width: 100px;margin-top: 45px;margin-left: -50px;
}

/*Start Nav*/

.navbar-header{
    margin-bottom: 50px;
}
.navbar-brand {
    height: 0px;
    padding: 0px;
}
.navbar-brand img {
    margin: 9px 0;
    width: 100px;
    height: 51px;
}
.navbar-nav{
    float: right;
}
.navbar-default .navbar-nav>li{
    margin: 9px;
    font-size: 16px;
}
.navbar-default .navbar-nav>li>a.orange-btn{
    color: #fff;
    padding: 10px 30px;
}
.navbar-default .navbar-nav>li>a.orange-btn:hover{
    background-color: #e99513;
    border-color: #e99513;
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus{
    color: #858585;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{
    background-color: #171717;
    color: #858585;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover{
    border-color: #a0171e;
}
.navbar-default .navbar-nav>li>a.active{
    color: #b9b8b8;
    background-color: #171717;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #333;
}
.navbar-default .navbar-nav li:nth-child(3) a:hover{
    cursor: pointer;
}
.navbar-default {
    min-height: 70px;
    background-color: #fff;
    box-shadow: 3px 5px 8px 0px rgba(246, 247, 251, 0.5);
    border-color: transparent;
    border-radius: 0px;
}
.navbar-form{
    margin-top: -5px;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav>li>a::after {
    content: "";
}
.navbar-default .navbar-right>li>a{
    color: #ffb528;
}
.navbar-default .navbar-right>li>a:hover{
    color: #ffb528;
}
.dropdown-menu {
    top: 67px;
    padding: 0px;
}
.dropdown-menu>li>a{
    background-color: #333;
    color: #e0e0e0;
    border-top: 0px !important;
    padding: 5px 20px;
}
.dropdown-menu>li>a:hover{
    background-color: #FFF;
    border-left: 3px solid #a0171e;
    border-top: 0px !important;
}
/*End Nav*/
.manag-circle {
    width: 100%;
    height: 250px;
    background: radial-gradient(#ececec, #bfbf78, #b9ecb9);
    text-align: center;
    border-radius: 250px / 170px;
    padding: 40px;
    -moz-border-radius: 250px / 170px;
    -webkit-border-radius: 250px / 170px;
}
.main-management a{
    text-decoration: none;
}
.manag-circle span{
    font-size: 40px;
}
.img1{
    width: 60%;
    display: inline-block;
    height: 120px;
    margin-top: -35px;
}
.arrow1{
    width: 30%;
    margin: auto;
    margin-right: 0px;
}
.img2{
    width: 60%;
    display: inline-block;
    margin-top: -50px;
}
.arrow2{
    width: 30%;
    display: inline-block;
}
.img3{
    width: 60%;
    height: 170px;
}
.arrow3{
    width: 30%;
    margin: auto;
    margin-right: 0px;
}
.img4{
    width: 60%;
    height: 140px;
    margin: auto;
    margin-left: 10%;
}
.arrow4{
    width: 10%;
    margin: auto;
    margin-left: 90px;
    height: 130px;
}
.img5{
    width: 60%;
    display: inline-block;
}
.arrow5{
    width: 30%;
    display: inline-block;
    margin-top: -200px
}

.img6{
    width: 60%;
}
.arrow6{
    width: 30%;
    height: 200px;
}
.img7{
    width: 25%;
    display: inline-block;
}
.arrow7{
    width: 10%;
    height: 200px;
    display: inline-block;
    margin-top: -120px;
}
.arrow8{
    width: 30%;
    height: 200px;
    margin: auto;
    margin-top: -120px;
    margin-left: 80px;
}
.mainForm{
    
}
.form_{
    box-shadow: 3px 5px 8px 0px rgba(246, 247, 251, 0.5);
    margin-top: 100px;
    margin-bottom: 114px;
    background-color: #fff;
    padding: 50px 30px;
    width: 50%;
    margin: 50px auto;
}
.form_.register_form{
    width: 90%;
    margin: 30px auto;
}
select.form-control{
    height: 46px;
}
form label{
    color: #666;
    font-size: 16px;
}
.form-group input{
    height: 46px;
   
}
.form-group input:focus{
    border: 2px solid #266b9c;
}
label{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    color:#FFF;
}
.more{
    text-align: center;
}

.more button{
    background-color: #ffa822;
    color: #FFF;
    padding: 10px 40px;
    font-size: 16px;
    border: 1px solid #ffa822;
    box-shadow: 3px 5px 8px 0px rgba(246, 247, 251, 0.5);
}
.more button:hover,.more button:focus,.more button:active:focus,.more button:visited{
    color: #FFF;
    background-color: #e99513;
    border-color: #e99513;
}
.mainSection{
    background-image: url(../images/download.jpg);
    background-size: 100% 100%;
    height: 100%;
}
.h3-section{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 28px;
}
.absimg{
    position: relative;
}
.absimg img{
    position: absolute;
    width: 200px;
    height: 100px;
    top: 40px;
    left: 0px;
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
}
.main_container{
    margin-left: 80px;
    margin-bottom: 50px;
}
/*.main_container .col-xs-1,*/
.main_container .col-xs-10,
.main_container .col-xs-11,
.main_container .col-xs-12,
.main_container .col-xs-2,
.main_container .col-xs-3,
.main_container .col-xs-4,
.main_container .col-xs-5,
.main_container .col-xs-6,
.main_container .col-xs-7,
.main_container .col-xs-8,
.main_container .col-xs-9,
.main_container .col-sm-1,
.main_container .col-sm-10,
.main_container .col-sm-11,
.main_container .col-sm-12,
.main_container .col-sm-2,
.main_container .col-sm-3,
.main_container .col-sm-4,
.main_container .col-sm-5,
.main_container .col-sm-6,
.main_container .col-sm-7,
.main_container .col-sm-8,
.main_container .col-sm-9,
.main_container .col-md-1,
.main_container .col-md-10,
.main_container .col-md-11,
.main_container .col-md-12,
.main_container .col-md-2,
.main_container .col-md-3,
.main_container .col-md-4,
.main_container .col-md-5,
.main_container .col-md-6,
.main_container .col-md-7,
.main_container .col-md-8,
.main_container .col-md-9{
    padding-left: 0px;
    padding-right: 0px;
}
.main_container a{
    text-decoration: none;
}
.main_container a:hover .section{
    /*-webkit-transform: rotateX( 180deg );*/
    /*-moz-transform: rotateX( 180deg );*/
    /*-o-transform: rotateX( 180deg );*/
    /*transform: rotatez( 360deg );*/
    /*transition: 1.5s all;  *//* rotate gradually instead of instantly */
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.section {
    width: 100%;
    background: #ffffff;
    text-align: center;
    border: 2px solid #5a5692;
    padding: 25px;
    border-radius: 55px / 45px;
    -moz-border-radius: 55px / 45px;
    -webkit-border-radius: 55px/ 45px;
}
.section span {
    color: #0d4cb6;
    font-size: 20px;
}
.chain-left{
    margin-left:8px;
    margin-top: 30px;
    position: absolute;
    z-index: 1;
}
.chain-left li{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    border: 3px solid #5a5692;
    padding: 10px 15px;
    border-radius: 15px;
}
.chain-left li:nth-child(odd){
    margin: 0px -20px;
    -webkit-transform: rotateX( 45deg );
    -moz-transform: rotateX( 45deg );
    -o-transform: rotateX( 45deg );
    transform: rotateX( 45deg );
}
.chain-top{
    margin: auto;
    width: 20px;
}
.chain-top li{
    display: block;
    padding-right: 5px;
    padding-left: 5px;
    border: 3px solid #5a5692;
    padding: 18px 10px;
    border-radius: 15px;
    margin-left: -3px;
}
.chain-top li:nth-child(odd){
    margin: -10px 0px;
    padding: 18px 0px;
    position: relative;
    z-index: 1;
}
.secimgdown{
    margin-top: 30px;
    height: 150px;
    margin: auto;
}
.imgLeft{
    width: 90px;
    height: 80px;
    display: none;
}
.imgtop{
    height: 100px;
    margin: auto;
    margin-left: 28%;
}
.mainQuestion{
    background-image: url(../images/background.jpg);
    background-size: 100% 100%;
    height: 100%;
}
.wizard-survey {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.wizard-survey .step.progress-setp {
    background-color: #1f90cf;
}
.wizard-survey .step {
    width: 2%;
    height: 7px;
    background-color: #eeeeee;
    border-radius: 6px;
    display: inline-block;
    margin: 2px;
}
.question_number{
    font-size: 18px;
    text-align: center;
}
.questions-main{
    margin-top: 20px;
    margin-bottom: 36px;
    background-color: #FFF;
    box-shadow:3px 5px 12px 0px rgb(189, 189, 189);
}
.questions {
    padding: 30px;
    padding-top: 20px;
}
.question p {
    margin-bottom: 30px;
    font-size: 22px;
    color: #639ad1;
}
.answer p label{
    font-size: 18px;
    color: #999;
}
.question_btns{
    text-align: center;
    margin-bottom: 30px;
}
.question_btn_left{
    margin-left: 50px;
}
.question_btn{
    text-align: center;
    display: inline-block;
}
.submit-btn{
    background-color: #46a2e4;
    color: #FFF;
    padding: 15px 40px;
    font-size: 16px;
    border: 2px solid #266b9c;
}
.submit-btn:hover{
    color: #FFF;
}
.submit-btn:focus{
    color: #FFF;
}
.submit-btn a:hover{
    text-decoration: none;
}
.result-main {
    margin-top: 10px;
    margin-bottom: 36px;
    padding: 10px 20px;
    background-color: #FFF;
    box-shadow: 3px 5px 12px 0px rgb(189, 189, 189);
}
.results{
    margin-top: 10px;
}
.info p{
    text-align: center;
    font-size: 30px;
}
.result p {
    margin-bottom: 10px;
    font-size: 24px;
    color: #496f96;
}
.result .mainp{
    text-align: center;
}

.result_diag{

}
.circ{
    margin-top: 10px;
    margin-bottom: 25px;
}

.diag{
    text-align: center;
    margin-top: 30px;
}
.diag .diag_p1{
    padding: 45px 0px;
    color: #FFF;
    font-size: 20px;
    background-color: #639ad1;
    border: 2px solid #266b9c;
}
.diag .diag_p2{
    font-size: 20px;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .form_{
        width: 70%;
    }
    .searchresults .col-md-8 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-default{
        padding: 0px 5px;
        margin-bottom: 0px;
    }
    .navbar-brand img {
        width: 100px;
        height: 70px;
    }
    .navbar-header {
        margin-bottom: 20px;
    }
    .searchinputs {
        padding: 0px 15px;
    }
    .navbar-default .navbar-toggle {
        border: 2px solid #a0171e;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #a0171e;
    }
    .navbar-default .navbar-toggle .icon-bar:focus {
        background-color: #a0171e;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .navbar-default .navbar-collapse {
        border-color: transparent;
    }
    .navbar-nav {
        float: none;
        text-align: center;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 14px;
        padding: 5px 20px;
        letter-spacing: 1px;
    }
    .main_container{
        margin-left: 0px;
    }
    .section{
        padding: 0px;
    }
    .secimg{
        margin-top: 10px;
    }
    .questions{
        margin-top: 50px;
    }
    .question p {
        margin-bottom: 20px;
        font-size: 18px;
    }
    .answer label {
        font-size: 16px;
    }
    .question_btns {
        margin-top: 0px;
    }
    .question_btn:first-child {
        margin-right: 20px;
    }
    /*
        .selector ul {
            top: -110px;
            right: 50px;
            bottom: 0px;
            left: -40px;
        }
    */
    .homeback{
        background-image: none;
        background-size: auto;
        height: auto;
    }
    .selector{
        margin-top: 0px;
        top: 40%;
        width: 150px;
        height: 150px;
    }
    .selector ul{
        top: -50px;
    }
    .selector li {
        margin: -65px 50%;
    }
    .selector.open li input + label {
        width: 60px;
        height: 60px;
    }
    .selector li input + label img {
        width: 60px;
        border-radius: 100px;
        height: 60px;
    }
    .selector button{
        font-size: 14px;
        width: 75%;
        height: 75%;
    }
    .ctext{
        width: 140px;
        margin-left: -40px;
        font-size: 13px;
    }
    .ctx2{
        width: 100px;
    }
    .ctx3 {
        line-height: 115px;
        margin-left: 0px;
    }
    .ctx4 {
        line-height: 115px;
        margin-left: -90px;
    }
    li:nth-child(2) p{
        line-height: 25px;
    }
    .imgchain1{
        width: 70px;
        margin-top: 40px;
        margin-left: -5px;
    }
    .imgchain2{
        width: 75px;
        margin-left: 30px;
        margin-top: -10px;
    }
    .imgchain3{
        width: 70px;
        margin-top: -60px;
        margin-left: 25px;
    }
    .imgchain4{
        width: 70px;
        margin-top: -120px;
        margin-left: -35px;
    }
    .imgchain5{
        width: 70px;
        margin-top: -80px;
        margin-left: -85px;
    }
    .imgchain6{
        width: 70px;
        margin-left: -110px;
        margin-top: -20px;
    }
    .imgchain7{
        width: 70px;margin-top: 20px;margin-left: -100px;
    }
    .imgchain8{
        width: 70px;margin-top: 45px;margin-left: -50px;
        width: 70px !important;
        margin-top: 35px !important;
        margin-left: -60px !important;
        transition: opacity 6s ease-in-out;
    }
    
    .chain-left {
        margin-top: 3px;
    }
    .chain-left li {
        display: none;
    }
    .chain-left li:first-child {
        display: block;
    }
    .chain-left li:nth-child(odd) {
        margin: 0px -9px;
    }
    .chain-top li {
        padding: 20px 10px;
        margin-left: -5px;
    }
    .chain-top li:nth-child(odd) {
        margin: -15px 3px -15px 0px;
    }
    .chain-top li:first-child {
        margin: 0px 3px -15px 0px;
    }
    .chain-top li:last-child {
        margin: -15px 3px 0px 0px;
    }
    .absimg img{
        display: none;
    }
    .info p {
        font-size: 20px;
    }
    .result p {
        font-size: 20px;
    }
    .imgLeft{
        width: 100%;
        height: 35px;
    }
    .imgtop{
        height: 80px;
        margin: auto;
        margin-left: 3%;
    }

}
@media only screen and (max-width: 640px) {
    .carousel .testimonial {
        padding: 30px 0px 20px;
    }
    .navbar-brand img {
        width: 90px;
        height: 60px;
    }
    .form_{
        width: 100%;
    }
    .form_.register_form {
        width: 100%;
    }
    section.team h2.title-h2 {
        line-height: inherit;
    }
    .team-members {
        margin-bottom: 0;
    }
    .team-members .team-avatar{
        padding: 0 20px;
    }
    .team-members .team-avatar img{
        padding: 10% 20%;
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    .navbar-default{
        padding: 0px 5px;
        margin-bottom: 0px;
    }
    .navbar-brand img {
        width: 70px;
        height: 75px;
    }
    .searchinputs {
        padding: 0px 15px;
    }
    .navbar-default .navbar-toggle {
        border: 2px solid #ffb528;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffb528;
    }
    .navbar-default .navbar-toggle .icon-bar:focus {
        background-color: #ffb528;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .navbar-default .navbar-collapse {
        border-color: transparent;
    }
    .navbar-nav {
        text-align: center;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 14px;
        padding: 20px 20px;
    }
    .homemain .container{
        width: 100%;
    }
    .homeback{
        height: 800px;
    }
    .selector{
        margin-top: 10px;
        top: 50%;
    }
    .selector ul{
        top: -40px;
    }
    .section {
        padding: 15px;
        border-radius: 55px / 55px;
        -moz-border-radius: 55px / 5px;
        -webkit-border-radius: 55px / 55px;
    }
    .ctext{
        font-size: 14px;
    }
    form {
        margin-top: 100px;
    }
    .chain-left {
        margin-top: 20px;
    }
    .chain-left li:nth-child(even) {
        display: none;
    }
    .chain-left li:nth-child(odd) {
        margin: 0px -12px;
    }

    .imgLeft {
        height: 65px;
    }
    .imgtop{
        height: 80px;
        margin: auto;
        margin-left: 22%;
    }

}
@media (min-width: 992px) and (max-width: 1199px) {
    .section{
        border-radius: 55px / 56px;
        -moz-border-radius: 55px / 56px;
        -webkit-border-radius: 55px / 56px
    }
    .chain-left li:nth-child(odd) {
        margin: 0px -24px;
        -webkit-transform: rotateX( 45deg );
        -moz-transform: rotateX( 45deg );
        -o-transform: rotateX( 45deg );
        transform: rotateX( 45deg );
    }

    .imgtop{
        height: 100px;
        margin: auto;
        margin-left: 22%;
    }

}
